@model Product

@{
    ViewData["Title"] = "New";
    SelectList cat = new SelectList(ViewBag.cat, "ID", "CategoryName");
    SelectList sub = new SelectList(ViewBag.sub, "ID", "SubCategoryName");
    Layout = "_HeaderFooterLayout";
    }
<div class="container">
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 text-center">
        <form asp-controller="Product" asp-action="SaveEdit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-3">
                <label asp-for="ProductName" class="control-label my-3"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <label asp-for="ProductDescription" class="control-label my-3"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
             <div class="form-group my-3">
                <label asp-for="ProductPrice" class="control-label my-3"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
             <div class="form-group my-3">
                <label asp-for="Image" class="control-label my-3"></label>
                <input name="File" type="file" class="form-control" />
            </div>

            <div class="form-group my-3">
                <label asp-for="Category_ID" class="my-3"></label>
                <select id="cat-id" class="form-control" asp-for="Category_ID" asp-items="cat" onchange="GetData()">
                </select>
            </div>
            <div class="form-group my-3">
                <label asp-for="SubCategory_ID" class="my-3"></label>
                <select class="form-control" asp-for="SubCategory_ID" asp-items="sub">
                </select>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Update" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
</div>


@section Collection{
    @foreach (var item in ViewBag.SubCategory)
        {
            <li><a class="dropdown-item" asp-controller="Product" asp-action="ProductBySubcategory" asp-route-id="@item.ID">@item.SubCategoryName</a></li>
        }
        <hr/>
        <li><a class="dropdown-item" asp-controller="SubCategory" asp-action="New" >Add New Collection</a></li>
}

@section Category{
    @foreach (var item in ViewBag.Category)
        {
        <li class="nav-item">
            <a asp-controller="Product" asp-action="ProductBycategory" asp-route-id="@item.ID" class="nav-link">@item.CategoryName</a>
        </li>
        }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
