@model List<Categories>
<div class="container">
<div style="border-bottom:1px solid red;text-align:center;box-shadow:red"class="shadow-lg p-3 mb-5 bg-white rounded" id="index">
    <h2 style="text-align:center;margin:5px">CATEGORIES</h2>
</div>
<table class="table text-center table-hover  mx-auto shadow-lg p-3 mb-5 bg-white rounded" >
    <thead>
    <tr >
        <th class="font-weight-bolder" scope="col">Name</th>
        <th class="font-weight-bolder" scope="col">Image</th>
        <th class="font-weight-bolder" scope="col">Edit Data</th>
        <th class="font-weight-bolder" scope="col">Delete Data</th>

    </tr>
    </thead>
    <tbody>
 @foreach(var std in Model)
      {
    <tr >
        <td class=" text-center font-weight-bold">@std.CategoryName</td>
        <td class=" text-center"><img class="rounded-circle" src="/Images/@std.CategoryImage" style="width:80px;height:80px;" /></td>
        <td class=" text-center font-weight-bold"><a class="text-danger" href="/Category/Edit/@std.ID">Edit @std.CategoryName</a></td>
        <td class=" text-center font-weight-bold">
            <button class="btn btn-danger" id="btn"  >
            <a style="text-decoration:none; color:white;" href="/Category/Delete/@std.ID" onclick="Delete()" >Delete</a>
            </button>
        </td>
    </tr>
      }         
    </tbody>
 </table>

 <button style="border-radius:20px;" class="mt-3 btn btn-danger shadow-lg p-3 mb-5 rounded ">
    <a  href="/Category/New" style="text-decoration:none; color:white;">Add New Category</a>
</button>

</div>


<script>
    function Delete()
    {
        console.log("test")
        var respond=confirm("Do you want to Delete");
        if(!respond)
        {
             event.preventDefault();
        }
    
    };
</script>